fail_fast: true
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
    - id: check-ast
    - id: check-builtin-literals
    - id: check-case-conflict
    - id: check-docstring-first
    - id: check-illegal-windows-names
    - id: check-merge-conflict
    - id: check-shebang-scripts-are-executable
    - id: check-symlinks
    - id: check-toml
    - id: check-yaml
    - id: debug-statements
    # - id: end-of-file-fixer
    # - id: mixed-line-ending
    # - id: trailing-whitespace
- repo: https://github.com/fpgmaas/deptry
  rev: 0.24.0
  hooks:
    - id: deptry
      language: python
      additional_dependencies: [deptry]
      exclude: '^(?!.*\.py$).*$'
- repo: https://github.com/asottile/pyupgrade
  rev: v3.21.2
  hooks:
    - id: pyupgrade
- repo: https://github.com/asottile/add-trailing-comma
  rev: v4.0.0
  hooks:
    - id: add-trailing-comma
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.14.14
  hooks:
    - id: ruff-check
      args:
        - --fix
    - id: ruff-format
- repo: https://github.com/astral-sh/uv-pre-commit
  rev: 0.9.28
  hooks:
    - id: uv-lock
- repo: https://github.com/tombi-toml/tombi-pre-commit
  rev: v0.7.25
  hooks:
    - id: tombi-format
    - id: tombi-lint
- repo: https://github.com/crate-ci/typos
  rev: v1
  hooks:
    - id: typos
      exclude: "CITATION.cff|test|mite_data"
- repo: local
  hooks:
    - id: mite-update
      name: mite-update
      entry: uv run python mite_data/main.py
      language: system
      verbose: true
      types: [ json ]
      exclude: "metadata|reserved|mibig"
    - id: mite-validate
      name: mite-validate
      entry: uv run python mite_data/validation/mite_validation.py
      language: system
      verbose: true
      types: [ json ]
      exclude: "metadata|reserved|mibig"
    - id: uv-upgrade
      name: uv-upgrade
      pass_filenames: false
      entry: uv lock --upgrade
      language: system
#    - id: pytest
#      name: pytest
#      entry: uv run pytest
#      pass_filenames: false
#      language: system
