fail_fast: true
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
    - id: check-yaml
    - id: check-ast
    - id: check-builtin-literals
    - id: check-toml
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.15.3
  hooks:
    - id: ruff
      args: [ --fix ]
    - id: ruff-format
- repo: https://github.com/astral-sh/uv-pre-commit
  rev: 0.10.6
  hooks:
    - id: uv-lock
- repo: local
  hooks:
    - id: uv-upgrade
      name: uv-upgrade
      pass_filenames: false
      entry: uv lock --upgrade
      language: system
    - id: pytest
      name: pytest
      entry: uv run pytest
      pass_filenames: false
      language: system