fail_fast: true
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
    - id: check-yaml
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.5.0
  hooks:
    - id: ruff
      args: [ --fix ]
      exclude: "test"
    - id: ruff-format
- repo: https://github.com/astral-sh/uv-pre-commit
  rev: 0.9.5
  hooks:
    - id: uv-lock
- repo: local
  hooks:
    - id: mite-update
      name: mite-update
      entry: uv run python mite_data/main.py
      language: system
      verbose: true
      types: [ json ]
      exclude: "metadata|reserved|mibig"
    - id: mite-validate
      name: mite-validate
      entry: uv run python mite_data/validation/mite_validation.py
      language: system
      verbose: true
      types: [ json ]
      exclude: "metadata|reserved|mibig"
    - id: uv-upgrade
      name: uv-upgrade
      pass_filenames: false
      entry: uv lock --upgrade
      language: system
#    - id: pytest
#      name: pytest
#      entry: uv run pytest
#      pass_filenames: false
#      language: system