name: CI Pipeline Pushes
run-name: Pushed by ${{ github.actor }}
permissions:
  contents: read
on:
  pull_request:
    branches:
      - main
    paths-ignore:
      - "mite_data/data/**"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Install uv
        uses: astral-sh/setup-uv@v6
        with:
          enable-cache: true
          cache-dependency-glob: "uv.lock"

      - name: Set up Python
        run: uv python install

      - name: Install dependencies
        run: uv sync --all-groups

      - name: Run tests
        run: |
          uv run pytest